/* The form css begins here */
form {
    margin: 12px;
    text-align-last: center;
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;
}

.pat{
    width: 600px;
}

.free{
    widows: 300px;
}

.bajie{
    margin: 1px;
}

li{
    list-style-type: none;
}
