/* This is the entire body css */
body{
   /* background-color: blueviolet;*/
    font-family: 'Times New Roman', Times, serif;
}

/*the navigation bar ends here*/

/*This are the respective forms css identified using the 'id' tag */
#student{
    border: 2px solid black;
    padding: 8px;
    margin: 5px;
}

#lecturer{
    border: 2px solid black;
    padding: 8px;
    margin: 5px;
}

#staff{
    border: 2px solid black;
    padding: 8px;
    margin: 5px;
}

#visitor{
    border: 2px solid black;
    padding: 8px;
    margin:5px;
}



